:root {
  --font-color: #212121;
  --border-color: #9e9e9e;
  --shadow-color: #e0e0e0;

  --blue: #00b0ff;
  --bold-blue: #03a0f0;
  --green: #00bfa5;
  --bold-green: #00b092;
  --red: #f44336;
  --bold-red: #b71c1c;

  --title-size: 2.5rem;
  --subtitle-size: 2rem;
  --heading1-size: 1.8rem;
  --heading2-size: 1.6rem;
  --paragraph-size: 1.3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: var(--font-color);
}
