.container {
  height: 100vh;
}

.div_title {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px var(--shadow-color);
}

.title {
  font-weight: 100;
  font-size: 2.4rem;
}

.content {
  height: calc(100% - 80px);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.div_plantilla,
.div_preview,
.div_form {
  height: 100%;
  overflow-y: scroll;
}

.div_plantilla,
.div_preview {
  width: 33%;
}

.div_form {
  width: 34%;
}
