.container {
  height: 100%;
  padding: 25px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item {
  height: 150px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  border-radius: 5px;
  color: white;
  user-select: none;
  font-size: 1.6rem;
  transition: 300ms;
}

.item:hover {
  background-color: var(--bold-blue);
}
