.container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.div_plantilla,
.div_preview,
.div_form {
  height: 100%;
}

.div_plantilla,
.div_form {
  overflow-y: scroll;
}

.div_plantilla,
.div_preview {
  width: 33%;
}

.div_form {
  width: 34%;
}
